@using PastaWorld.Common

@{
    var itemCount = ViewBag.CartItems;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homeButtons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f909b4a59b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom-0 box-shadow mb-0">

            <div class="container-fluid">

                <div class="m-0 p-0">
                    <a class="navbar-brand m-0 p-0" style="font-family: 'Pattaya', sans-serif;" asp-area="" asp-controller="Home" asp-action="Index"><h1>@GlobalConstants.SystemName</h1></a>
                </div>

                <div class="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ml-2">

                    <partial name="_LoginPartial" />

                    <ul class="float-left navbar-nav mr-4">
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4 cart" asp-area="" asp-controller="Cart" asp-action="Index">
                                @*<i class="badge fas fa-shopping-cart" value="@itemCount"></i>*@
                                <i class="fas" style="font-size:24px">&#xf07a;</i>
                                <span class='badge badge-warning' id='lblCartCount'> @itemCount </span>
                            </a>
                        </li>


                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="Home" asp-action="Index">НАЧАЛО</a>
                        </li>
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="AllMenu" asp-action="Index">МЕНЮ</a>
                        </li>
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="Information" asp-action="Index">ДОСТАВКИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="Home" asp-action="Privacy">ЗА НАС</a>
                        </li>
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a>
                        </li>
                        @*TODO delete last li Payment*@
                        <li class="nav-item">
                            <a class="button1 nav-link ml-4" asp-area="" asp-controller="Payment" asp-action="Index">Payment</a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>
    </header>

    <div class="">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="row justify-content-center">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
