@model PastaWorld.Web.ViewModels.Orders.OrdersListViewModel;
@{
    this.ViewData["Title"] = "Accepted Tracking";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/trackingListsAccepted.css" asp-append-version="true" />
</head>

<div class="text-hide mt-5">
    <p>MoveDown</p>
</div>

<h1 class="text-center">Accepted Orders </h1>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                @if (Model.Orders.Count() > 0)
                {
                    <th scope="col">Image</th>
                    <th scope="col">Id</th>
                    <th scope="col">Client</th>
                    <th scope="col">Client Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                    <th scope="col">Meals</th>
                    <th scope="col">Action</th>
                }
                else
                {
                    <th class="row justify-content-center" scope="col">Orders</th>
                }

            </tr>
        </thead>

        @if (Model.Orders.Count() > 0)
        {
            @foreach (var order in Model.Orders)
            {
                <tbody>
                    <tr>
                        <td>
                            <a class="close-button" asp-controller="Tracking" asp-action="ChangeStatus" asp-route-orderId="@order.Id" asp-route-status="Canceled">X</a>
                        </td>
                        <td>@order.Id</td>
                        <td>@order.FirstName @order.FamilyName</td>
                        <td>@order.PhoneNumber</td>
                        <td>@order.Address</td>
                        <td>@order.Status</td>
                        <td>
                            <pre class="meal-list" style="white-space: pre-line;">
                                @order.Meals
                                            </pre>
                        </td>
                        <td>
                            <a class="button1 button-tracker-list nav-link ml-4" asp-controller="Tracking" asp-action="ChangeStatus" asp-route-orderId="@order.Id" asp-route-status="Cooked">Done</a>
                        </td>
                    </tr>
                </tbody>
            }
        }
        else
        {
            <tr>
                <td class=" row justify-content-center">There no orders to show</td>
            </tr>
        }


    </table>

</div>