@model PastaWorld.Web.ViewModels.Orders.OrdersListViewModel;
@{
    this.ViewData["Title"] = "Tracking All";
}

<head>
    <link rel="stylesheet" href="~/css/trackingListsAll.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30;" />
</head>

<div class="text-hide mt-5">
    <p>MoveDown</p>
</div>

<h1 class="text-center">All Orders</h1>

<div>

    <table class="table">
        <thead>
            <tr>
                @if (Model.Orders.Count() > 0)
                {
                    <th scope="col">Image</th>
                    <th scope="col">Id</th>
                    <th scope="col">Client</th>
                    <th scope="col">Client Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                }
                else
                {
                    <th class="row justify-content-center" scope="col">Orders</th>
                }

            </tr>
        </thead>

        @if (Model.Orders.Count() > 0)
        {
            @foreach (var order in Model.Orders)
            {
                @if (@order.Status == "Accepted")
                {
                    <tbody class="accepted">

                        <tr>
                            <td><img src="~/images/profils/ProfilOne.jpg" style="max-height: 60px;" alt="image" /></td>
                            <td>@order.Id</td>
                            <td>@order.FirstName @order.FamilyName</td>
                            <td>@order.PhoneNumber</td>
                            <td>@order.Address</td>
                            <td>@order.Status</td>
                        </tr>
                    </tbody>
                }
                else if (@order.Status == "Cooked")
                {
                    <tbody class="cooked">

                        <tr>
                            <td><img src="~/images/profils/ProfilOne.jpg" style="max-height: 60px;" alt="image" /></td>
                            <td>@order.Id</td>
                            <td>@order.FirstName @order.FamilyName</td>
                            <td>@order.PhoneNumber</td>
                            <td>@order.Address</td>
                            <td>@order.Status</td>
                        </tr>
                    </tbody>
                }
                else if(@order.Status == "Delivered")
                {
                    <tbody class="delivered">

                        <tr>
                            <td><img src="~/images/profils/ProfilOne.jpg" style="max-height: 60px;" alt="image" /></td>
                            <td>@order.Id</td>
                            <td>@order.FirstName @order.FamilyName</td>
                            <td>@order.PhoneNumber</td>
                            <td>@order.Address</td>
                            <td>@order.Status</td>
                        </tr>
                    </tbody>
                }
                else if(@order.Status == "Canceled")
                {
                    <tbody class="canceled">

                        <tr>
                            <td><img src="~/images/profils/ProfilOne.jpg" style="max-height: 60px;" alt="image" /></td>
                            <td>@order.Id</td>
                            <td>@order.FirstName @order.FamilyName</td>
                            <td>@order.PhoneNumber</td>
                            <td>@order.Address</td>
                            <td>@order.Status</td>
                        </tr>
                    </tbody>
                }

            }
        }
        else
        {
            <tr>
                <td class=" row justify-content-center">There no orders to show</td>
            </tr>
        }


    </table>

</div>