@using PastaWorld.Web.ViewModels.Orders

@model OrderPaymentViewModel
@{
    this.ViewData["Title"] = "Payment";
}

<div class="container">
    <div class="text-uppercase text-header text-center">Данни за поръчка</div>
    <form method="post" asp-controller="Payment" asp-action="Index">
        <div class="col-lg-6 d-flex">
            <a id="guest" class="anchor" href="javascript:void(0)">Пазаруване като гост</a>
            <a id="client" class="anchor" href="javascript:void(0)">Вход</a>
        </div>

        <aside style="width: 36%;
                      float: right;
                        margin: 20px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Вашата поръчка</h5>
                    
                    @foreach (var item in Model.Items)
                    {
                        <div style="    border-bottom: 2px groove #d3dce5;
                                    margin-bottom: 2%;">
                            <div style="width: 50%;display: inline-block; margin-bottom: 2%">
                                <img class="card-img" src="@item.Meal.MainImagePath" alt="news">
                            </div>
                            <div style="width: 48%;display: inline-block;">
                                <a class="" asp-controller="Meal" asp-action="MealDetails" asp-route-id="@item.Meal.Id">@item.Meal.Name</a>
                                <br />
                                <span>x @item.Quantity</span>
                                <span style="display: table;margin-left: 63px;">@item.Meal.Price лв.</span>
                            </div>
                        </div>
                    }

                    <div>
                        <span class="card-text">Междинна цена</span>
                        <span class="card-text">@Model.CurrentPrice лв.</span>
                    </div>

                    <div>
                        <span class="card-text">Доставка</span>
                        <span class="card-text">@Model.DeliveryPrice лв.</span>
                    </div>

                    <div>
                        <span class="card-text">Крайна цена</span>
                        <span class="card-text">@Model.MealsPrice лв.</span>
                    </div>
                </div>
            </div>
        </aside>

        <div class="col-lg-6 clientInfo">
            <div class="form-group guest">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
            </div>
            <div class="form-group guest">
                <label asp-for="FamilyName"></label>
                <input class="form-control" asp-for="FamilyName">
            </div>

            <div class="form-group guest">
                <label asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber">
            </div>

            <div class="form-group guest">
                <label asp-for="Email"></label>
                <input class="form-control" type="email" asp-for="Email">
            </div>
        </div>

        <div class="col-lg-6 clientInfo">
            <div class="form-group login">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
            </div>

            <div class="form-group login">
                <label asp-for="FamilyName"></label>
                <input class="form-control" asp-for="FamilyName">
            </div>

            <div id="button-login" class="login text-center">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>



        <div class="form-group">
            @foreach (var address in Model.Addresses)
            {
                if (address.Contains("Доставка до адрес"))
                {
                    <input class="user-address" type="radio" asp-for="IsUserAddress" value="@address" checked>
                }
                else
                {
                    <input class="user-address" type="radio" asp-for="IsUserAddress" value="@address">
                }

                @address
                <br />
            }
        </div>

        <div class="d-flex">
            <div class="form-group col-lg-6 address-spacing address-none">
                <label asp-for="Town"></label>
                <input class="form-control" asp-for="Town">
            </div>

            <div class="form-group col-lg-6 address-none">
                <label asp-for="Address"></label>
                <input class="form-control" asp-for="Address">
            </div>
        </div>

        <div class="form-group address-none">
            <label asp-for="AddressComment"></label>
            <textarea class="form-control" asp-for="AddressComment" rows="5" cols="33" placeholder="Тук можете да опишете специфични подробности около адреса."></textarea>
        </div>

        <div class="form-group">
            @foreach (var paymentMethod in Model.PaymentMethods)
            {
                if (paymentMethod.Contains("Наложен платеж"))
                {
                    <input type="radio" asp-for="IsBankCard" value="@paymentMethod" checked>
                }
                else
                {
                    <input type="radio" asp-for="IsBankCard" value="@paymentMethod">
                }

                @paymentMethod
                <br />
            }
        </div>

        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsAgreedTermsAndConditions" />
            <label class="form-check-label" asp-for="IsAgreedTermsAndConditions">Съгласен/на съм с </label>
            <a href="#" target="_blank">Условията за ползване на сайта</a>
        </div>

        <input class="btn btn-primary" type="submit" asp-page="" value="Напред">
    </form>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/css/payment.css" asp-append-version="true" />
    <script src="~/js/payment.js" asp-append-version="true"></script>
}

