@using PastaWorld.Web.ViewModels.Orders

@model OrderPaymentViewModel
@{
    this.ViewData["Title"] = "Payment";
}

<div class="container">
    <h4 class="text-uppercase text-header text-center">Данни за поръчка</h4>
    <form class="align-center" method="post" asp-controller="Payment" asp-action="Index">
        <aside class="aside">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Вашата поръчка</h5>
                    <p>@Model.Items.Count ястия</p>
                    <p>
                        <a id="product-toggle" href="javascript:void(0)" class="anchor">по-подробно <i class="fa-solid fa-angle-up"></i></a>
                    </p>

                    <div id="expandable">
                        @foreach (var item in Model.Items)
                        {
                            <div class="bottom-space-small">
                                <div class="image-style">
                                    <img class="card-img" src="@item.Meal.MainImagePath" alt="news">
                                </div>
                                <div class="card-text">
                                    <a class="anchor" asp-controller="Meal" asp-action="MealDetails" asp-route-id="@item.Meal.Id">@item.Meal.Name</a>
                                    <br />
                                    <span>x @item.Quantity</span>
                                    <p class="text-center-align">@item.Meal.Price лв.</p>
                                </div>
                            </div>
                        }
                    </div>

                    <div>
                        <span class="card-text">Междинна цена</span>
                        <span class="card-text">@Model.CurrentPrice лв.</span>
                    </div>

                    <div>
                        <span class="card-text">Доставка</span>
                        <span class="card-text">@Model.DeliveryPrice лв.</span>
                    </div>

                    <div>
                        <span class="card-text">Крайна цена</span>
                        <span class="card-text">@Model.MealsPrice лв.</span>
                    </div>
                </div>
            </div>
        </aside>
        
        <div class="col-lg-6 d-flex">
            <a id="guest" class="anchor" href="javascript:void(0)">Пазаруване като гост</a>
            <a id="client" class="anchor" href="javascript:void(0)">Вход</a>
        </div>

        <div class="col-lg-6 clientInfo">
            <div class="form-group guest">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
            </div>
            <div class="form-group guest">
                <label asp-for="FamilyName"></label>
                <input class="form-control" asp-for="FamilyName">
            </div>

            <div class="form-group guest">
                <label asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber">
            </div>

            <div class="form-group guest">
                <label asp-for="Email"></label>
                <input class="form-control" type="email" asp-for="Email">
            </div>
        </div>

        <div class="col-lg-6 clientInfo">
            <div class="form-group login">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
            </div>

            <div class="form-group login">
                <label asp-for="FamilyName"></label>
                <input class="form-control" asp-for="FamilyName">
            </div>

            <div id="button-login" class="login text-center">
                <button class="login-button">Вход</button>
            </div>
        </div>

        <div class="form-group">
            @foreach (var address in Model.Addresses)
            {
                if (address.Contains("Доставка до адрес"))
                {
                    <input class="user-address" type="radio" asp-for="UserOrOtherAddress" value="@address" checked>
                }
                else
                {
                    <input class="user-address" type="radio" asp-for="UserOrOtherAddress" value="@address">
                }

                @address
                <br />
            }
        </div>

        <div class="d-flex">
            <div class="form-group col-lg-6 address-spacing address-none">
                <label asp-for="Town"></label>
                <input class="form-control" asp-for="Town" value="@Model.Town" disabled="disabled" />
            </div>

            <div class="form-group col-lg-6 address-none">
                <label asp-for="Address"></label>
                <input class="form-control" asp-for="Address" />
            </div>
        </div>
        <label class="address-none" asp-for="AddressComment"></label>
        <div class="d-flex">
            <div class="form-group address-none">
                <textarea class="form-control" asp-for="AddressComment" rows="5" cols="150" placeholder="Тук можете да опишете специфични подробности около адреса."></textarea>
            </div>
        </div>
        

        <div class="form-group">
            @foreach (var paymentMethod in Model.PaymentMethods)
            {
                if (paymentMethod.Contains("Наложен платеж"))
                {
                    <input type="radio" asp-for="BankCard" value="@paymentMethod" checked />
                }
                else
                {
                    <input type="radio" asp-for="BankCard" value="@paymentMethod" />
                }

                @paymentMethod
                <br />
            }
        </div>

        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsAgreedTermsAndConditions" />
            <label class="form-check-label" asp-for="IsAgreedTermsAndConditions">Съгласен/на съм с </label>
            <a href="#" target="_blank">Условията за ползване на сайта</a>
        </div>

        <input class="button" type="submit" asp-page="" value="Напред" />
    </form>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/css/payment.css" asp-append-version="true" />
    <script src="~/js/payment.js" asp-append-version="true"></script>
}

