@using PastaWorld.Web.ViewModels.Cart
@model IEnumerable<CartItemViewModel>

@{
    var deliveryPrice = 5.50m;
}
<div class="container">

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="font-italic"></th>
                    <th scope="col" class="font-italic">Артикул</th>
                    <th scope="col" class="font-italic">Количество</th>
                    <th scope="col" class="font-italic">Ед. цена</th>
                    <th scope="col" class="font-italic">Цена</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>

                    <tr>
                        <td><img src="@item.Meal.MainImagePath" style="max-height: 60px;" alt="image" /></td>
                        <td class="font-weight-bold">@item.Meal.Name</td>
                        <td class="font-weight-bold flex-row justify-content-start">
                            <a class="arrow-container text-center" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Meal.Id">
                                <i class=" fa-solid fa-arrow-down arrow-down"></i>
                            </a>
                            <span class="mx-2">
                                @item.Quantity
                            </span>
                            <a class="arrow-container text-center" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Meal.Id">
                                <i class="fa-solid fa-arrow-up arrow-up"></i>
                            </a>
                        </td>
                        <td class="font-weight-bold">@item.Meal.Price</td>

                        <td class="font-weight-bold">@(item.Meal.Price * @item.Quantity)</td>

                    </tr>

                </tbody>
            }
        </table>
    </div>

    <div class="row justify-content-end">

        <div class="row mr-3">

            <p class="text-black font-weight-bold ml-5 font">
                Цена на доставката :
                <span style="font-size: 1rem">

                    @if (@Model.Sum(x => x.Quantity * x.Meal.Price) > 0 && @Model.Sum(x => x.Quantity * x.Meal.Price) <= 25)
                    {
                        @deliveryPrice;
                    }
                    else
                    {
                        deliveryPrice = 0;
                        @deliveryPrice;
                    }
                </span>
            </p>

            <p class="text-black font-weight-bold ml-5 font">
                Крайна сума :
                <span style="font-size: 1rem">
                    @if (Model.Sum(x => x.Quantity * x.Meal.Price) > 0 && Model.Sum(x => x.Quantity * x.Meal.Price) <= 25)
                    {
                        @(Model.Sum(x => x.Quantity * x.Meal.Price) + @deliveryPrice)
                    }
                    else if (Model.Sum(x => x.Quantity * x.Meal.Price) > 25)
                    {
                        @(Model.Sum(x => x.Quantity * x.Meal.Price))
                    }
                </span>
            </p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="row mr-3">
            <a class="btn btn-primary" asp-controller="Payment" asp-action="Index" asp-route-id="">Завърши поръчката</a>
        </div>
    </div>
</div>