@using PastaWorld.Web.ViewModels.Cart
@model IEnumerable<CartItemViewModel>

@{
    var deliveryPrice = 5.50m;
}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="font-italic"></th>
                <th scope="col" class="font-italic">Артикул</th>
                <th scope="col" class="font-italic">Количество</th>
                <th scope="col" class="font-italic">Ед. цена</th>
                <th scope="col" class="font-italic">Цена</th>
                <th scope="col"></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>

                <tr>
                    <td><img src="" style="max-height: 60px;" alt="image" /></td>
                    <td class="font-weight-bold">@item.Meal.Name</td>
                    <td class="font-weight-bold">
                        <a class="btn btn-sm btn-danger" style="width:2rem" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Meal.Id">-</a>
                        @item.Quantity
                        <a class="btn btn-sm btn-success" style="width:2rem" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Meal.Id">+</a>
                    </td>
                    <td class="font-weight-bold">@item.Meal.Price</td>

                    <td class="font-weight-bold">@(item.Meal.Price * @item.Quantity)</td>
        
                </tr>

            </tbody>
        }
    </table>
    <div class="row justify-content-between">
        <div>

        </div>
        <div class="row mr-5">

            <p class="text-black font-weight-bold ml-5 font" style="font-family: Ultra">
                Цена на доставката : <span style="font-size: 25px;">
                    @if (@Model.Sum(x => x.Quantity * x.Meal.Price) > 0 && @Model.Sum(x => x.Quantity * x.Meal.Price) <= 25)
                    {
                        @deliveryPrice;
                    }
                    <i class="fas fa-euro-sign"></i>
                </span>
            </p>

            <p class="text-black font-weight-bold ml-5 font" style="font-family: Ultra">
                Крайна сума :
                <span style="font-size: 25px;">
                    @if (Model.Sum(x => x.Quantity * x.Meal.Price) > 0 && Model.Sum(x => x.Quantity * x.Meal.Price) <= 25)
                    {
                        @(Model.Sum(x => x.Quantity * x.Meal.Price) + @deliveryPrice)
                    }
                    else if (Model.Sum(x => x.Quantity * x.Meal.Price) > 25)
                    {
                        @(Model.Sum(x => x.Quantity * x.Meal.Price))
                    }
                    <i class="fas fa-euro-sign"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="font-weight-bold">
                <p class="">Credit Card Info</p>
            </div>

            <label>Credit Card Number</label>
            <input class="form-control" />

            <label>Expiry Date</label>
            <input class="form-control" />

            <label>CVC</label>
            <input class="form-control" />

    </div>